<div class="main-container">
    <div fxLayout="row">
        <div>
            <img class="img-title" src="{{staticPath}}icons/android-chrome-512x512.png" />
        </div>
        <div>
            <h2>明日方舟工具箱</h2>
            <h4>by 灰格猫</h4>
            <p>欢迎使用，请在导航栏/菜单栏选择相应功能使用。</p>
        </div>
    </div>
    &nbsp;
    <div>
        <h4>最近更新</h4>
    </div>
    <div id="updates">
        <p>2022.02.15 新干员：夏栎，澄闪</p>
        <p>2022.01.25 新干员：夜半，寒芒克洛丝，令，老鲤，“清平”，“逍遥”，“弦惊”，眠兽，封印的地面，丹田</p>
        <p>2022.01.10 新干员：九色鹿</p>
        <p>2022.01.05 新干员：暮落，暮落，无主的财富，失修舞台雾机，便携气罐，“报幕助手”</p>
        <p>2021.12.21 新干员：耶拉，极光，灵知，暴风雪</p>
        <p>2021.11.01 新干员：野鬃，蚀清，蜜莓，焰尾，耀骑士临光</p>
        <p>2021.10.15 新干员：灰毫，远牙</p>
        <p>2021.09.17 新干员：罗比菈塔，桑葚，琴柳</p>
        <p>2021.08.03 新干员：羽毛笔，龙舌兰，假日威龙陈</p>
        <p>2021.07.02 新干员：帕拉斯</p>
        <p>2021.06.01 新干员：深靛，绮良，贝娜，卡涅利安</p>
        <p>2021.05.01 新干员：赤冬，浊心斯卡蒂，歌蕾蒂娅，凯尔希</p>
        <p>2021.04.15 公开招募数据更新</p>

    </div>
    <!-- <p>Tip: 移动端和平板用户可以将任意页面添加到桌面，获得与本地App相同的使用体验：快速加载，离线使用，自动更新。</p>
    <p>详情请点击右上角<i class="material-icons">help</i>查看。</p>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="50">
            <h3>已实现功能</h3>
            <ul>
                <li>公开招募</li>
                <li>升级消耗</li>
                <li>精英材料</li>
                <li>干员材料多合一计算：精英化，通用技能，专精技能</li>
                <li>自动识别仓库中材料(测试中)</li>
            </ul>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50">
            <h3>实现中功能</h3>
            <ul>
                <li>干员技能、属性表</li>
                <li>干员基建技能总览</li>
            </ul>
        </div>
    </div>
     -->
    <h3>贡献者</h3>
    <div class="contributors" fxLayout="row wrap" fxLayoutAlign="start center">
        <div class="contributor" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://github.com/graueneko/">
                <img src="{{staticPath}}img/main/graueneko.png" /><br />
                灰格猫
            </a>
        </div>
        <div class="contributor" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://github.com/Evealicemier">
                <img src="{{staticPath}}img/main/crystal.jpg" /><br />
                水晶泡芙
            </a>
        </div>
        <div class="contributor" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://github.com/Luke-lujunxian">
                <img src="{{staticPath}}img/main/Luke_lu.jpg" /><br />
                Luke_lu
            </a>
        </div>
        <div class="contributor" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://github.com/bbaa-bbaa">
                <img src="{{staticPath}}img/main/bbaa.png" /><br />
                bbaa
            </a>
        </div>
        <div class="contributor" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://github.com/Yue-plus">
                <img src="{{staticPath}}img/main/Yue_plus.png" /><br />
                Yue_plus
            </a>
        </div>
    </div>

    <h4>建议/需求</h4>
    <div class="joinus" fxLayout="row wrap" fxLayoutAlign="start center">
        <div class="contributor" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://github.com/graueneko/aktools">
                <img src="{{staticPath}}img/main/github.png" /><br />
                Github
            </a>
        </div>
    </div>
    <!-- 
    <h4>友情链接</h4>
    <p>欢迎访问 <a href="https://bbs.nga.cn/thread.php?fid=-34587507">NGA明日方舟-罗德岛驻艾泽拉斯大使馆</a></p>
    <p>欢迎向 <a href="https://penguin-stats.io">企鹅物流数据统计</a> 贡献材料掉落信息</p> -->
</div>
