@import "../styles/custom.scss";
[mdcFormFieldLabel] {
  width: 45px;
}
[mdcListDivider] {
  list-style: none;
}
[mdcSelect] {
  width: 120px;
}
[mdcTextField] {
  textarea {
    color: $color-muted;
    background-color: rgba($color-dark, 0.1);
    resize: none;
    // border-color: $color-primary;
  }
}