<li mdcListDivider></li>
<div *ngIf="!exportOrimporting" fxLayout="column" fxLayoutGap="0.25em">
  <div fxHide.lt-md>
    <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="start center">
      <button mdcButton raised (click)="choiceAll()">全选</button>
      <button mdcButton raised (click)="invert()">反选</button>
      <button mdcButton raised (click)="exportOrimporting=true">导入/导出</button>
      <div mdcSelect style="min-width: 120px;">
        <select mdcSelectControl [(ngModel)]="choicePreset">
          <option value="zh_CN" disabled>未选择</option>
          <option *ngFor="let preset of presets" [value]="preset">{{
            preset
          }}</option>
        </select>
        <label mdcFloatingLabel>预设</label>
      </div>
      <button mdcButton raised (click)="loadPreset()" style="min-width: 96px;">
        加载预设
      </button>
      <div mdcTextField style="min-width: 120px;">
        <input [(ngModel)]="SavePresetName" mdcTextFieldInput type="text" />
        <label mdcFloatingLabel>预设名称</label>
      </div>
      <button
        mdcButton
        raised
        (click)="savePreset()"
        style="min-width: 96px;"
      >
        保存预设
      </button>
    </div>
  </div>
  <div fxHide.gt-md>
    <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center">
      <button mdcButton raised (click)="choiceAll()">全选</button>
      <button mdcButton raised (click)="invert()">反选</button>
      <button mdcButton raised (click)="exportOrimporting=true">导入/导出</button>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="center center">
      <div>
        <div mdcSelect style="min-width: 120px;">
          <select mdcSelectControl [(ngModel)]="choicePreset">
            <option value="zh_CN" disabled>未选择</option>
            <option *ngFor="let preset of presets" [value]="preset">{{
              preset
            }}</option>
          </select>
          <label mdcFloatingLabel>预设</label>
        </div>
        <button
          mdcButton
          raised
          (click)="loadPreset()"
          style="min-width: 96px;"
        >
          加载预设
        </button>
      </div>
      <div>
        <div
          mdcTextField
          style="min-width: 120px; max-width: calc(100% - 110px);"
        >
          <input [(ngModel)]="SavePresetName" mdcTextFieldInput type="text" />
          <label mdcFloatingLabel>预设名称</label>
        </div>
        <button
          mdcButton
          raised
          (click)="savePreset()"
          style="min-width: 96px;"
        >
          保存预设
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="exportOrimporting" fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div>
      <button mdcButton raised dense id="btnReset" (click)="reset()">重置</button>
      <button mdcButton (click)="exportOrimporting=false">关闭</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div mdcTextField [dense]="true">
      <textarea mdcTextFieldInput type="text" rows="5" cols="60" #input1="ngModel"
        [(ngModel)]="exportedData"></textarea>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mdcButton raised dense id="btnExport" (click)="copyExport()">复制</button>
    </div>
  </div>
  <div fxLayout="row" class="hint" fxLayoutAlign="center center">
    <p><small>若未弹出成功提示，或复制失败，请手动复制。</small></p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div mdcTextField [dense]="true">
      <textarea mdcTextFieldInput type="text" rows="5" cols="60" #input1="ngModel"
        [(ngModel)]="importedData"></textarea>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mdcButton raised dense id="btnImport" (click)="getImportedData()">导入</button>
    </div>
  </div>
</div>
<div *ngIf="!exportOrimporting" fxLayout="column" fxLayoutGap="0.25em">
  <div
    *ngFor="let MainZone of this.willRenderStage.Main; let i = index"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
  >
    <div style="width: 100%;">
      <h3 style="display: inline; margin-right: 15px;">第{{ i }}章</h3>
      <button mdcButton raised (click)="choiceAll(MainZone)">全选</button>
      <button mdcButton raised (click)="invert(MainZone)">反选</button>
    </div>
    <div mdcFormField *ngFor="let Stage of MainZone">
      <div mdcCheckbox>
        <input
          data-checkbox="stage"
          [value]="stage"
          mdcCheckboxInput
          type="checkbox"
          (click)="change($event, Stage)"
          [checked]="Stage[1]"
        />
      </div>
      <label mdcFormFieldLabel>{{ Stage[0] }}</label>
    </div>
  </div>
  <div
    *ngFor="
      let Activity of this.willRenderStage.Activity | keyvalue;
      let i = index
    "
    fxLayout="row wrap"
    fxLayoutAlign="start center"
  >
    <div style="width: 100%;">
      <h3 style="display: inline; margin-right: 15px;">{{ Activity.key }}</h3>
      <button mdcButton raised (click)="choiceAll(Activity.value)">全选</button>
      <button mdcButton raised (click)="invert(Activity.value)">反选</button>
    </div>
    <div mdcFormField *ngFor="let Stage of Activity.value">
      <div mdcCheckbox>
        <input
          data-checkbox="stage"
          [value]="stage"
          mdcCheckboxInput
          type="checkbox"
          (click)="change($event, Stage)"
          [checked]="Stage[1]"
        />
      </div>
      <label mdcFormFieldLabel>{{ Stage[0] }}</label>
    </div>
  </div>
</div>
